<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{SCRIPT_FILENAME} !-f
  RewriteCond %{SCRIPT_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?uri=$1
  #prevent directory listing
  Options All -Indexes
  #prevent folder listing
  IndexIgnore *
  ErrorDocument 403 http://www.espro.org.br
</IfModule>